**/*.7z

venv/
**/__pycache__/
.idea/
.Rproj.user/
systemic-risk-predictor.Rproj
**/*.Rhistory

**/tmp*/
**/logs*/
**/result.txt
**/results.pickle
**/notes.md

**/saved*/*
# Best models
!notebooks/**/best_*
